<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script defer src="js/main.js"></script>
        <script defer src="js/lain.js"></script>
        <link rel="stylesheet" href="css/lain.css" type="text/css">
        <title>Home Page</title>
</head>
<body>


    <div class="nav-container">

        <div class="nav-item">
            <a href="/archive">
                Back
            </a></div>

        <div class="title">ARCHIVE®</div>

        <div class="nav-item icon">
            <img src="icons/list.svg">

        </div>
    </div>

        <div class=" autumn">Shop</div>

        <div class="yadi-container3">
           

            <div class="yadi-container2">
                <div class="nav-item2">Search</div>
                <div class="nav-item2">Cart</div>
                
                <div class="nav-item2">Back</div>
        
            </div>
    
        </div>


    

    <div class="banner">

        <div class="text-container">
            <div class="hcontainer">
                <h1>ARCHIVE®</h1>

            </div>
            <p>ARCHIVE® bring you the most stylish and inspiring fashion magazines, curated for trendsetters and style enthusiasts. From runway highlights to street style inspiration, dive into a world of fashion that empowers your unique style. Subscribe today and stay ahead of the trends!
                <br><br><br>
                <a href="/library">Enter Library</a> </p>

            </p>
        
        </div>

        <div class="image-container"> 
            <!-- <img src="nn.jpg"> -->
        </div>
    
    </div>

   <div class="jewelry-banner">

    <div class="text-container2">
        
        <div  id="hcontainer2">
            <h2>ARCHIVE® Jewelry</h2>
        </div>
        <p>
            <br>
            ARCHIVE® makes sure all jewelry are authenticated before shipping and our own products are made to high quality. Don't be scared!
            <br><br><br>
            <!-- <a href="#">Shop</a> -->

        </p>
        
        
    </div>

    <div class="jlink">
        <a href="/views/shop.html">Shop</a>

    </div>


   </div>

   <div class="book-banner">

    <div class="text-container2">
        
        <div  id="hcontainer2">
            <h2>ARCHIVE® Books</h2>
        </div>
        <p>
            <br>
            We have the best fashion books and magazines on the market for the best prices.<br>
            Don't beleive us? Check it out before it's too late!
            <br><br><br>
            <!-- <a href="#">Shop</a> -->

        </p>
        
        
    </div>

    <div class="jlink">
        <a href="#">Buy Now</a>

    </div>


   </div>

   <div class="lookbook-banner">

    <div class="text-container2">
        
        <div  id="hcontainer2">
            <h2>Lookbook</h2>
        </div>
        <p>
            <br>
            Check out our special team of stylists designs and works!
            <br><br><br>
            <!-- <a href="#">Shop</a> -->

        </p>
        
        
    </div>

    <div class="jlink">
        <a href="#">View</a>

    </div>


   </div>



   <div class="premium-banner">

        <video autoplay muted loop controls>
            <source src="videos/signupVid.mp4" type="video/mp4">
        </video>

        <div class="text-container2">
        
            <div  id="hcontainer2">
                <h2>Join us</h2>
            </div>

            <p>
                <br>
                Want exclusive content? Sign up!<br>
                Already joined us? Log in.
                <br><br><br>
            </p>
            
        
        
        </div>

        <div class="jlink">
            <a href="/signUp">Sign Up</a> <a href="#">Log In</a>

        </div>


   </div>


    <footer>

        <div class=" nav-item tilte">ARCHIVE®</div>

        <!-- <div class="sub-container">

            <form for="get">

                <input type="email" id="user_email" placeholder="enter email*">
                <button type="submit" class="rock">Subscribe</button> 
                <label id="user_email"><a href="#" class="lucki">Subscribe</a></label>
            </form>
        </div>
         -->
        <div class="halfnhalf">

            <div class="sub-container">

                <form for="get">

                    <input type="email" id="user_email" placeholder="enter email*">
                    <!-- <button type="submit" class="rock">Subscribe</button>  -->
                    <label id="user_email"><a href="#" class="lucki">Subscribe</a></label>
                </form>
            </div>
        

        
            <div class="ftcontainer1">home</div>
            <div class="ftcontainer1">about</div>
            <div class="ftcontainer1">contact</div>

        </div>
        

    </footer>

    
</body>
</html>